<h2>Upload microarray</h2>

<% form_for(@microarray) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :experiment_id %><br />
    <%= f.text_field :experiment_id %>
  </p>
  <p>
    <%= f.label :filename %><br />
    <%= f.text_field :filename %>
  </p>
  <p>
    <%= f.submit "Upload" %>
  </p>
<% end %>

<%= link_to 'Cancel', searches_path %>
