<h2 class="title">Upload Microarray</h2>

<% form_for(@microarray, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label "Select Normal Microarray Dataset" %><br/>
    <%= f.file_field :normal_datafile %>
  </p>
  
  <p>
    <%= f.label "Select Cancer Microarray Dataset" %><br/>
    <%= f.file_field :cancer_datafile %>
  </p>
  
  <p>
    <%= f.submit "Upload" %>
  </p>
<% end %>

<%= link_to 'Cancel', searches_path %>

<div class="clearbox"></div>
<h2 class="title">Microarray File Format</h2>

<p>BioCAD utilizes a simplistic microarray file format structure. 
  Columns represent conditions and rows genes. 
  Cells are separated by a single white-space characters (space or tab).</p>

<h3>Format Example:</h3>
<pre>
  "ID_REF"  "GSM152931" "GSM152932" "GSM152933" "GSM152934" "GSM152935" "GSM152936"
  "1000_at"	325.1	452.7	424.9	532	334.2	561.3
  "1001_at"	33.5	39.6	36.4	33.6	65.2	98.3           
  "1002_f_at"	12.2	8.9	15.7	18.9	14.2	9.5
  "1003_s_at"	17.8	38.1	50.6	31.3	21.5	131.2
  "1004_at"	124.4	20	133.2	176.3	72.1	94
  "1005_at"	3873.4	3038.9	1667	2810.9	2448.2	2846.9
  "1006_at"	54.8	20.8	30.4	74.7	78.2	23.6
  "1007_s_at"	1485.8	1519	1089.6	1167.6	1214.6	3662.5
  "1008_f_at"	1718.7	1855.2	1574.5	3679	2619.3	3074.3
  "1009_at"	1716.8	1804.2	1188.2	1527.9	1237.9	1886.1
  "100_g_at"	285.1	303.6	250	246.6	260.8	332.2
  "1010_at"	32.1	16	9.1	105.7	10.2	10
  "1011_s_at"	273.8	334.1	323.2	252.6	285.2	376
</pre>