<h2>Upload Microarray</h2>

<% form_for(@microarray, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :experiment_id %><br />
    <%= f.text_field :experiment_id %>
  </p>
  <p>
    Select your Microarray data<br/>
    <%= f.file_field :datafile %>
  </p>
  
  <p>
    <%= f.submit "Upload" %>
  </p>
<% end %>

<%= link_to 'Cancel', searches_path %>
