<h2 class="title">Upload Microarray</h2>

<% form_for(@microarray, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :experiment_id %><br />
    <%= f.text_field :experiment_id %>
  </p>
  <p>
    Select Normal Microarray Dataset<br/>
    <%= f.file_field :normal_datafile %>
  </p>
  
  <p>
    Select Cancer Microarray Dataset<br/>
    <%= f.file_field :cancer_datafile %>
  </p>
  
  <p>
    <%= f.submit "Upload" %>
  </p>
<% end %>

<div class="clearbox"></div>
<h2 class="title">Microarray File Format</h2>



<%= link_to 'Cancel', searches_path %>
