<h2 class="title">Microarray Results</h2>

<% if @microarray.working? %>
  <div class="center">
    <%= image_tag("bar_loader.gif") %>
    <p>Analyzing Microarray Data</p><br/>
    <p>Refresh page in a few seconds</p>
  </div>
<% else %>
<p>Top 50 Differentially Expressed Genes</p>
<div class="clearbox"></div>

<%= link_to 'Visualize Group '+icon("chart"), visualize_gene_group_path(@microarray.gene_group) if @microarray.gene_group %>

<div class="clearbox"></div>

<table>
  <tr>
    <th>Name</th>
    <th>P-value</th>
  </tr>
<% @microarray.user_genes.each do |gene| %>
  <tr>
    <td><%=h gene.name %></td>
    <td><%=h gene.p_value %></td>
  </tr>
<% end %>
</table>
<% end %>
<%= link_to 'Back', microarrays_path %>
