<h2 class="title">Microarray Results</h2>
<p>Top 50 Differentially Expressed Genes</p>
<div class="clearbox"></div>

<h3><%= link_to "GO Function", :action => :visualize, :id => 1%></h3>
<h3><%= link_to "GO Process", :action => :visualize, :id => 1%></h3>
<h3><%= link_to "Gene Network", :controller => :networks, :id => 850 %></h3>

<% genes = ('A'..'Z').to_a %>
<% 50.times do |val| %>
  <div class="gene-information">
  <h3 class="title"><%= s = ""; 3.times {|i| s << genes[rand(10)%27]}; s %></h3>
  <p class="quiet">GO Terms:</p>
  <p>term 1 | term 2 | term 3</p>
  </div>
<% end %>


<%= link_to 'Back', microarrays_path %>
