<h2 class="title">Microarray Results</h2>
<p>Top 50 Differentially Expressed Genes</p>
<div class="clearbox"></div>

<h3><%= link_to "GO Function", :action => :visualize, :id => 1%></h3>
<h3><%= link_to "GO Process", :action => :visualize, :id => 1%></h3>
<h3><%= link_to "Gene Network", :controller => :networks, :id => 850 %></h3>

<table>
  <tr>
    <th>Name</th>
    <th>P-value</th>
  </tr>
<% @microarray.user_genes.each do |gene| %>
  <tr>
    <td><%=h gene.name %></td>
    <td><%=h gene.p_value %></td>
  </tr>
<% end %>
</table>
<%= link_to 'Back', microarrays_path %>
