<h2 class="title">Cancers</h2>

<%= render :partial => 'layouts/search',:locals => {:model_path => cancers_path}  %>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>

<% for cancer in @cancers %>
  <tr>
    <td><%= link_to cancer.name, cancer %></td>
    <td><%=h cancer.description %></td>
  </tr>
<% end %>
</table>

<div class="center">
  <%= will_paginate @cancers %>
</div>

<div class="clearbox">
  
</div>

<%= link_to 'New cancer', new_cancer_path %>
