<h2 class="title"><%=h @cancer.name %></h2>

<div class="info">

  <h3>Description:</h3>
  <p>
    <%=h @cancer.description || 'none' %>
  </p>
  
  <h2>Related Genes:</h2>
  <div class="center">
    <%= render :partial => 'genes/gene', :collection => @cancer.genes %>
  </div>
  
  <div class="clearbox">
    
  </div>
</div>


<%= link_to 'Edit', edit_cancer_path(@cancer) %> |
<%= link_to 'Back', cancers_path %>
