<h2 class="title"><%=h @cancer.name %></h2>

<div class="info">

  <h2>Description:</h2>
  <p>
    <%=h @cancer.description || 'none' %>
  </p>
  
  <h2>Related Genes:</h2>
  <h3>Oncogenes</h3>
  <div class="center">
    <%= render :partial => 'genes/gene_table', :locals => {:genes => @cancer.onco_genes} %>
  </div>
  <div class="clearbox">
    
  </div>
  <h3>Suppressor Genes</h3>
  <div class="center">
    <%= render :partial => 'genes/gene_table', :locals => {:genes => @cancer.suppressor_genes} %>
  </div>
  
  
  <div class="clearbox">
    
  </div>
</div>

<%= link_to image_tag('icons/arrow_left.png')+' All Cancers', cancers_path %>
