<h1>Editing gene_group</h1>

<% form_for(@gene_group) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @gene_group %> |
<%= link_to 'Back', gene_groups_path %>
