<h2 class="title"><%=h @gene_group.name %></h2>

<% render :layout => 'genes/gene_table', :locals => {:genes => @gene_group.genes} do |gene_id, section| %>
  <%- case section  when :header-%>
    <th>Remove</th>
  <%- when :content -%>
    <td><%= link_to 'Remove '+icon("cancel-small-red"), gene_group_gene_group_entry_path(@gene_group, gene_id), 
        :method => :delete %></td>
  <%- end -%>
<%- end -%>

<%= link_to 'Visualize Group '+icon("chart"), visualize_gene_group_path(@gene_group) %>

<div class="clearbox"></div>
<%= link_to "Add more Genes "+icon("add"), genes_url %>
<div class="clearbox"></div>
<%= link_to("Back to Microarray", microarray_url(@gene_group.microarray)) if @gene_group.microarray %>