<h2 class="title">Search</h2>
<%= render :partial => 'genes/main_search' %>
    
<%= render :partial => 'cancers/main_search' %>
<div class="clearbox">
</div>
<div class="clearbox">
</div>

<div class="column span-6 append-1 first"><h3 class="center"><a href="javascript: void(0)" id="advanced-search-show">Advanced Search</a></h3></div>
<div class="column span-6 append-1"><h3 class="center"><a href="javascript: void(0)" id="exact-search-show">Exact Search</a></h3></div>
<div class="column span-6 last"><h3 class="center"><%= link_to "Upload Microarray", new_microarray_path %></h3></div>
<div class="clearbox">
</div>

<div id="advanced-search" style="display:none;">
  <%= render :partial => 'new', :local => @search %>
  <p><a href="javascript:void(0)" id="advanced-search-hide">cancel</a></p>  
</div>
<div class="clearbox"></div>

<div id="exact-search" style="display:none;">
  <%= render :partial => 'exact', :local => @search %>
  <p><a href="javascript:void(0)" id="exact-search-hide">cancel</a></p>  
</div>
<div class="clearbox"></div>
<h2 class="title">Using BioCAD</h2>
<p>KU BioCAD attempts to provide you with a powerful tool to assist in researching and analyzing oncogenes and other genes related to cancer.  You can navigate through this site in two general ways: through a search for a specific gene or by browsing genes known to be related to a particular cancer. </p>


<div class="column span-9 append-1 first">
  <h2 class="text-center">Gene Search</h2>
  <p>Use the Gene Search Bar to find out how specific genes relate to cancers and other genes. Just enter in part or all of a gene name to get started.  Genes can be found by gene symbol, swissprot, genebank, or omim name.  Use the advanced search or exact search for more powerful searching methods.</p>

   <p>You can also use the Genes link at the top of the page to browse all the genes in our database. Use the check box to the right of each gene listing to add that gene to your Gene Group. The Gene Group acts like a shopping cart for the genes in our database. When you have the genes you want in your Gene Group, you can visualize your group to see the relationships that exist between the genes in your group and the other genes in our database.</p>
</div>
  <div class="column span-9 last">
    <h2 class="text-center">Cancer Search</h2>
    <p>You can also search for specific cancers and then see all the genes related to that cancer and how they are related. Type all or part of a cancer you are interested in in the Cancer Search Bar to find it in the database.  Alternatively, you can browse through all the cancers in our database by clicking the Cancers link at the top of the page.</p>
    
    <p>Finally, you can upload your own microarray datasets to be analyzed by our algorithms. Click on the Upload Microarray link for more information.</p>
  </div>