<% unless genes.empty? %>
<div class="center">
<table>
  <tr>
    <th>Name</th>
    <th>Swissprot</th>
    <th>Entrez</th>
    <th>Omim</th>
    <%= yield nil, :header %>
  </tr>
  <% genes.each do |gene| %>
    <tr>
      <td>
        <strong><%= link_to gene.gene_symbol, gene_path(gene) %></strong>
      </td>
      <td>
        <%= gene.swissprot %>
      </td>
      <td>
        <%= gene.entrez %>
      </td>
      <td>
        <%= gene.omim %>
      </td>  

    </tr>
  <% end %>
</table>
</div>
<% else %>
  <p class="quiet">none</p>
<% end %>
