<% unless genes.empty? %>
<% for gene in genes %>
<div class="gene-information">
  <div class="column span-8 append-1 first">
    <div class="name"><%= link_to gene.gene_symbol, gene %></div>
    <p><strong>Synonyms: </strong><%= gene.synonyms.empty? ? "none" : gene.synonyms.join(", ")%></p>
    <%= link_to_function("Interactions "+image_tag('icons/arrow_down.png'), nil, :class => "interaction-link",:id => "interaction-link-#{gene.id}") do |page| 
      page["interactions-#{gene.id}"].visual_effect  :toggle
      # page["interaction-link-#{gene.id}"].replace_html "Interactions "+image_tag('icons/arrow_up.png')
    end%>
    
  </div>
  <div class="column span-6 last">
    <table>
      <tr>
        <th>Information</th>
      </tr>
      <tr>
        <td>
          <ul>
            <li><strong>Swissprot: </strong><%=h gene.swissprot %></li>
            <li><strong>Genebank: </strong><%=h gene.genebank %></li>
            <li><strong>Omim: </strong><%=h gene.omim %></li>
            <li><strong>Entrez: </strong><%=h gene.entrez %></li>
          </ul>
        </td>
    </table>
  </div>
  <div class="clearbox">
    
  </div>

  <div class="interaction-table" id="interactions-<%= gene.id %>" style="display:none;">
    <table>
      <tr>
        <th>Name</th>
        <th>Swissprot</th>
        <th>Entrez</th>
      </tr>
      <% gene.gene_interactions.each do |interaction| %>
        <tr>
          <td>
            <strong><%= interaction.gene_symbol %></strong>
          </td>
          <td>
            <%= interaction.swissprot %>
          </td>
          <td>
            <%= interaction.entrez %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
  </div>
  
<% end %>


<% unless genes.class == Array %>
<div class="clearbox">

</div>
<!-- TODO: make this a bit less stupid -->
  <div class="center">
    <%= will_paginate genes %>
  </div>
  <div class="clearbox">
  
  </div>
<% end %>
<% else %>

<p class="quiet">Sorry, no results found</p>
<% end %>
