<h2 class="title">Genes</h2>

<%= render :partial => 'layouts/search',:locals => {:model_path => genes_path}  %>

<table>
  <tr>
    <th>Gene symbol</th>
    <th>Swissprot</th>
    <th>Genebank</th>
    <th>Omim</th>
    <th>Entrez</th>
    <th>Orf</th>
    <th>Synonym</th>
  </tr>

<% for gene in @genes %>
  <tr>
    <td><%= link_to gene.gene_symbol, gene %></td>
    <td><%=h gene.swissprot %></td>
    <td><%=h gene.genebank %></td>
    <td><%=h gene.omim %></td>
    <td><%=h gene.entrez %></td>
    <td><%=h gene.orf %></td>
    <td><%= gene.synonyms.join(", ") %></td>
  </tr>
<% end %>
</table>
<div class="center">
  <%= will_paginate @genes %>
</div>

<div class="clearbox">
  
</div>
<% if logged_in? %>
  <%= link_to 'New gene', new_gene_path %>
<% end %>