<p>
  <b>Gene symbol:</b>
  <%=h @gene.gene_symbol %>
</p>

<p>
  <b>Swissprot:</b>
  <%=h @gene.swissprot %>
</p>

<p>
  <b>Genebank:</b>
  <%=h @gene.genebank %>
</p>

<p>
  <b>Omim:</b>
  <%=h @gene.omim %>
</p>

<p>
  <b>Entrez:</b>
  <%=h @gene.entrez %>
</p>

<p>
  <b>Orf:</b>
  <%=h @gene.orf %>
</p>

<p><b>Interactions:</b></p>
<ul>
  <% @gene.gene_interactions.each do |interacting_gene| %>
  <% interaction = interacting_gene.interactions.find_by_gene_id(@gene.id) || interacting_gene.interactions.find_by_gene_id_target(@gene.id) %>
    <li><%= link_to interacting_gene.gene_symbol, gene_path(interacting_gene) %> -- <%= link_to interaction.source, interaction_path(interaction) if interaction  %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_gene_path(@gene) %> |
<%= link_to 'Back', genes_path %>
