<h2 class="title"><%=h @gene.gene_symbol %></h2>
<div class="info">
  <h2 id="general-info">General Information</h2>

    <h3>Swissprot:</h3>
    <p><%=h @gene.swissprot  || 'unknown'%></p>
  
    <h3>Genebank:</h3>
    <p><%=h @gene.genebank || 'unknown' %></p>

    <h3>Omim:</h3>
    <p><%=h @gene.omim  || 'unknown'%></p>
  
    <h3>Entrez:</h3>
    <p><%=h @gene.entrez  || 'unknown' %></p>
  
    <h3>Orf:</h3>
    <p><%=h @gene.orf  || 'unknown' %></p>
</div>

<h2>GO Terms</h2>
  <%= render :partial => 'go_terms/go_term_table', :locals => {:go_terms => @gene.go_terms} %>

<h2>Related Cancers:</h2>
  <h3>Onco</h3>
  <% unless @gene.onco_cancers.empty? %>
    <div class="center">
      <%= render :partial => 'cancers/cancer', :collection => @gene.onco_cancers %>
    </div>
  <% else %>
    <p class="quiet">none</p>
  <% end %>

<div class="clearbox"></div>

<h3>Suppressed</h3>
  <% unless @gene.suppressed_cancers.empty? %>
    <div class="center">
      <%= render :partial => 'cancers/cancer', :collection => @gene.suppressed_cancers %>
    </div>
   <% else %>
    <p class="quiet">none</p>
  <% end %>


<div class="clearbox"></div>
<h2>Interactions:</h2>
  <%= render :partial => 'genes/gene_table', :locals => {:genes => @gene.gene_interactions} %>
<div class="clearbox"></div>

<h2>Transcription Factors:</h2>
  <%= render :partial => 'genes/gene_table', :locals => {:genes => @gene.gene_transcription_factors } %>
<div class="clearbox"></div>

<%= link_to 'All Genes', genes_path %>   <%= link_to 'Edit', edit_gene_path(@gene) if logged_in? %>


