<h2 class="title"><%= @gene.gene_symbol %></h2>
<div class="info">
  <h2 id="general-info">General Information</h2>

    <h3>Swissprot:</h3>
    <p><%= @gene.swissprot  || 'unknown'%></p>
  
    <h3>Genebank:</h3>
    <p><%= @gene.genebank || 'unknown' %></p>

    <h3>Omim:</h3>
    <p><%= @gene.omim  || 'unknown'%></p>
  
    <h3>Entrez:</h3>
    <p><%= @gene.entrez  || 'unknown' %></p>
  
    <h3>Orf:</h3>
    <p><%= @gene.orf  || 'unknown' %></p>
    
  <h2>GO Terms</h2>
  <% unless @gene.go_terms.empty? %>
    <table>
      <tr>
        <th>Name</th><th>Number</th><th>Type</th>
      </tr>
      <% @gene.go_terms.each do |term|  %>
        <tr>
          <td><%= term.name %></td>
          <td><%=h term.number %></td>
          <td><%=h term.pretty_type %></td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <p class="quiet">none</p>
  <% end %>
  <h2>Related Cancers:</h2>
  <h3>Onco</h3>
  <% unless @gene.onco_cancers.empty? %>
    <div class="center">
      <%= render :partial => 'cancers/cancer', :collection => @gene.onco_cancers %>
    </div>
  <% else %>
    <p class="quiet">none</p>
  <% end %>
  
  <div class="clearbox"></div>
  
  <h3>Suppressed</h3>
  
  <% unless @gene.suppressed_cancers.empty? %>
    <div class="center">
      <%= render :partial => 'cancers/cancer', :collection => @gene.suppressed_cancers %>
    </div>
   <% else %>
    <p class="quiet">none</p>
  <% end %>

  
  <div class="clearbox">  
  </div>
  <h2>Interactions:</h2>
  <% unless @gene.gene_interactions.empty? %>
  <div class="center">
    <%= render :partial => 'genes/gene_table', :locals => {:genes => @gene.gene_interactions} %>
  </div>
  <% else %>
    <p class="quiet">none</p>
  <% end %>
  <div class="clearbox">
    
  </div>
  
  <h2>Transcription Factors:</h2>
  <% unless @gene.gene_transcription_factors.empty? %>
    <div class="center">
      <%= render :partial => 'genes/gene_table', :locals => {:genes => @gene.gene_transcription_factors } %>
    </div>
  <% else %>
    <p class='quiet'>none</p>
  <% end %>
  <div class="clearbox">
  </div>
</div>
<%= link_to 'All Genes', genes_path %>   <%= link_to 'Edit', edit_gene_path(@gene) if logged_in? %>


